<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="solid">
        <ion-icon slot="start" name="person-circle"></ion-icon>
        Commande
      </ion-button>
    </ion-buttons>
    <ion-title>GoodFood</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid">
        Déconnexion
        <ion-icon slot="end" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      Enregistrée
    </ion-col>
    <ion-col>
      En préparation
      <br>#
    </ion-col>
    <ion-col>
      En livraison
      <br>#
      <br>#
    </ion-col>
    <ion-col>
      Livrée
      <br>#
      <br>#
      <br>#
    </ion-col>
  </ion-row>
</ion-content>
