<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="../../assets/images/transparent.png" alt="Logo GoodFood" width="200px">
    </ion-buttons>
    <ion-buttons slot="primary" class="btn-center">
      <ion-button color="light" fill="solid">
      Nouvelle commande
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" fill="solid">
        Déconnexion
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      Enregistrée
    </ion-col>
    <ion-col>
      En préparation
      <br>#
    </ion-col>
    <ion-col>
      En livraison
      <br>#
      <br>#
    </ion-col>
    <ion-col>
      Livrée
      <br>#
      <br>#
      <br>#
    </ion-col>
  </ion-row>
</ion-content>
