.header-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-flex-end {
    display: flex;
    justify-content: end;
    align-items: center;
}

.logo {
    height: 4em;
}
